<header class="container-fluid bg-light">
    <div class="d-flex justify-content-between align-items-center py-3">
        <a class="link-dark h1" href="index.html">LOGO</a>
        <ul class="list-unstyled d-flex gap-2">
            <li><a class="btn btn-outline-primary" href="index.html">回首頁</a></li>
            <li><a id="btn-login-main" class="btn btn-outline-primary" href="login.html">登入</a></li>
            <li><a id="btn-logout" class="btn btn-outline-primary d-none">登出</a></li>
            <li><a id="btn-signup-main" class="btn btn-outline-primary" href="signup.html">註冊</a></li>
            <li><a id="btn-collect-list" class="btn btn-outline-primary d-none" href="">收藏清單</a></li>
        </ul>
    </div>
</header>