<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>詳細資料</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <h2>景點詳細資料</h2>
      <h2 id="attractions-title"></h2>
      <p id="attractions-body"></p>
    </div>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../js/config.js"></script>
      <script type="module" src="../js/attractions-more.js"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>